@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-text-color: #2e2520;
  --secondary-text-color: #000000;
  --title-text-color: #2e2520;
  --form-input-text-color: rgba(171, 129, 108, 0.5);
  --button-text-color: #ffffff;
  --primary-bg-color: #fffff9;
  --secondary-bg-color: #fef3e4;
  --button-bg-color: #ab816c;
  --icon-fill-color: #2e2520;
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Caveat Brush', sans-serif;
  --grid-item-qt: 2;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.219;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
  }
}

* {
  outline: 1px solid red;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 664px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 852px;
  }
}

.btn {
  display: inline-block;
  min-width: 145px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 1.05;
  font-family: var(--title-font);
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .btn {
    min-width: 158px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--form-input-text-color);
}

.about-us__text--more {
  display: none;
}

@media screen and (min-width: 1280px) {
  .about-us__text--more {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .more-btn {
    display: none;
  }
}

.section-title {
  font-family: var(--title-font);
  text-align: center;
  font-size: 24px;
  line-height: 2.71;
  font-weight: 400;
  color: var(--title-text-color);
}

@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.section-container--bottom {
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/section-container-bottom/mobile/bg.svg);
}

@media screen and (min-width: 768px) {
  .image {
    background-image: url(/images/registration/tablet/donut.png), url(/images/registration/tablet/kisspng-party-confetti.png);
    background-size: 200px, 300px;
    background-repeat: no-repeat;
    background-position: top 50px left 10px, top 150px right;
  }
}

@media screen and (min-width: 900px) {
  .image {
    background-position: top 50px left 70px, top 200px right 70px;
  }
}

@media screen and (min-width: 1200px) {
  .image {
    background-position: top 50px left 100px, top 200px right 100px;
  }
}

.section-container--top {
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .section-container--top {
    background-image: url(/images/section-container-top/mobile/bg.jpg);
  }
}

@media screen and (min-width: 779px) {
  .section-container--top {
    background-image: url(/images/section-container-top/tablet/bg.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .section-container--top {
    background-image: url(/images/section-container-top/desktop/bg.jpg);
  }
}

@media screen and (min-width: 768px) {
  .about-us__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .about-us__img-wrap {
    -ms-flex-preferred-size: calc(((100% - 30px) / 2));
        flex-basis: calc(((100% - 30px) / 2));
  }
}

@media screen and (min-width: 768px) {
  .about-us__img {
    position: absolute;
    left: -56px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__img {
    left: -156px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__text-wrap {
    -ms-flex-preferred-size: calc(((100% - 30px) / 2));
        flex-basis: calc(((100% - 30px) / 2));
  }
}

@media screen and (min-width: 768px) {
  .about-us__title {
    text-align: left;
  }
}

.about-us__text {
  margin-bottom: 30px;
}

.about-us__text--more {
  margin-bottom: 0;
}

.registration {
  text-align: center;
}

.registration__wrap {
  padding: 15px 12px 45px 13px;
  width: 100%;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
}

@media screen and (min-width: 768px) {
  .registration__wrap {
    border-radius: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 34px 21px 34px 35px;
  }
}

@media screen and (min-width: 1280px) {
  .registration__wrap {
    padding: 54px 0px 53px 0;
  }
}

.registration__title {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .registration__title {
    display: none;
  }
}

.registration__title--mobile {
  margin-bottom: 11px;
}

@media screen and (min-width: 768px) {
  .registration__title--mobile {
    display: none;
  }
}

.registration__info-part {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .registration__info-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    margin-right: 30px;
  }
}

.registration__descr {
  font-weight: 500;
  font-size: 18px;
}

@media screen and (min-width: 1280px) {
  .registration__descr {
    font-size: 20px;
  }
}

.registration__descr--day {
  margin-bottom: 25px;
}

.registration__descr--price {
  margin-bottom: 20px;
}

.registration__descr--break {
  display: block;
}

@media screen and (max-width: 767px) {
  .registration__form-part {
    border-top: 1px solid rgba(171, 129, 108, 0.5);
    padding-top: 11px;
  }
}

@media screen and (min-width: 768px) {
  .registration__form-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 0 19px 30px;
    border-left: 1px solid rgba(171, 129, 108, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .registration__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .registration__input-part {
    margin-right: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .registration__input-part {
    margin-right: 38px;
  }
}

.registration__form-title {
  margin-bottom: 17px;
}

@media screen and (min-width: 1280px) {
  .registration__form-title {
    margin-bottom: 13px;
  }
}

.registration__form-title--break {
  display: block;
}

.registration__form-fields {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--button-bg-color);
  outline: none;
}

.registration__form-fields::-webkit-input-placeholder {
  color: var(--form-input-text-color);
}

.registration__form-fields:-ms-input-placeholder {
  color: var(--form-input-text-color);
}

.registration__form-fields::-ms-input-placeholder {
  color: var(--form-input-text-color);
}

.registration__form-fields::placeholder {
  color: var(--form-input-text-color);
}

@media screen and (max-width: 767px) {
  .registration__form-fields:not(last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .registration__form-fields:not(last-child) {
    margin-bottom: 15px;
  }
}

.registration__form-fields:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .registration__form-fields:last-child {
    margin-bottom: 37px;
  }
}

.registration__form-fields._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.registration__btn-part {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact {
  padding-top: 27px;
  padding-bottom: 27px;
}

.contact__subtitle {
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .contact__subtitle {
    margin-bottom: 27px;
  }
}

.contact__input {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  color: var(--form-input-text-color);
  border: none;
  border-bottom: 1px solid var(--button-bg-color);
}

.contact__input::-webkit-input-placeholder {
  color: var(--form-input-text-color);
}

.contact__input:-ms-input-placeholder {
  color: var(--form-input-text-color);
}

.contact__input::-ms-input-placeholder {
  color: var(--form-input-text-color);
}

.contact__input::placeholder {
  color: var(--form-input-text-color);
}

textarea {
  resize: none;
}

.contact__input {
  margin-bottom: 27px;
}

.contact__form {
  min-width: 265px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 780px) {
  .contact__form {
    min-width: 410px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__form {
    min-width: 430px;
  }
}

.contact__socials {
  margin-top: 47px;
}

@media screen and (min-width: 780px) {
  .contact__socials {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__socials {
    margin-top: 82px;
  }
}
/*# sourceMappingURL=main.css.map */