@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --main-text-color: #2e2520;
  --secondary-text-color: #000000;
  --title-text-color: #2e2520;
  --form-input-text-color: rgba(171, 129, 108, 0.5);
  --button-text-color: #ffffff;
  --primary-bg-color: #fffff9;
  --secondary-bg-color: #fef3e4;
  --button-bg-color: #ab816c;
  --icon-fill-color: #2e2520;
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Caveat Brush', sans-serif;
  --grid-item-qt: 2;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.219;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 18px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: orange;
}

@media screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 634px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 852px;
  }
}

.btn {
  display: inline-block;
  min-width: 158px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 1.05;
  font-family: var(--title-font);
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .btn {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#more {
  display: none;
}

.section-title {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 2.71;
  font-weight: 400;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.section-container--bottom {
  background-image: url(../images/section-container-bottom/mobile/bg.jpg) no-repeat inherit 1;
  background-image: url(../images/registration/tablet/donut.png) 10% 10% no-repeat fixed 2;
}

@media screen and (min-width: 780px) {
  .section-container--bottom {
    background-image: url(../images/registration/tablet/donut.png) 10% 10% no-repeat fixed 2;
  }
}

.section-container--top {
  background-image: url(../images/section-container-top/mobile/bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
}
/*# sourceMappingURL=main.css.map */