:root {
  // colors
  --main-text-color: #2e2520;
  --secondary-text-color: #000000;
  --title-text-color: #2e2520;
  --form-input-text-color: rgba(171, 129, 108, 0.5);
  --button-text-color: #ffffff;
  --icon-fill-color: #2e2520;
  // fonts
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Caveat Brush', sans-serif;
  // grid
  --grid-item-qt: 2;
}
