<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<!-- Для кнопки использовать класс btn -->
<section class="contact" id="contacts">
  <div class="container">
    <h2 class="section-title">
      <a name="contact">Contact</a>
    </h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form action="#" id="form-cont" class="contact__form" form-contact>
      <input class="contact__input form-field" type="email" id="email" placeholder="Email" />
      <textarea
        class="contact__input comment form-field"
        name="comment"
        id="comment"
        rows="1"
        placeholder="Type your question"
      ></textarea>

          <button type="submit" class="btn contact__btn" >Send</button>

    </form>
    <ul class="list contact__socials socials">
      <li class="socials__item">
        <a class="socials__link" href="" target="_blank" rel="noopener noreferrer">
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="" target="_blank" rel="noopener noreferrer">
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="" target="_blank" rel="noopener noreferrer">
          <svg class="socials__icon" width="19" height="19">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
