<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<!-- Для кнопки использовать класс btn -->
<section class="contact-us">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact__form">
      <input class="contact__input contact__input-position" type="email" id="email" placeholder="Email">
      <textarea class="contact__input contact__comment" name="comment" id="comment" rows="1" placeholder="Type your question"></textarea>
      <button class="btn contact__btn" type="submit">Send</button>
    </form>
    <ul class="list social-icons">
      <li class="social-icon__item">
        <a class="social-icon__link" href="">
          <svg class="icon" width="19" height="19">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="">
          <svg class="icon" width="19" height="19">
            <use href="./images/icons.svg#icon-instagramm"></use>
          </svg>
        </a>
      </li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="">
          <svg class="icon" width="19" height="19">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>