<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<!-- Для кнопки использовать класс btn -->
<section class="contact-us">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__subtitle">We will answer any question!</p>
    <form class="contact__form">
      <input class="contact__input contact__input-position" type="email" id="email" placeholder="Email">
      <textarea class="contact__input contact__comment" name="comment" id="comment" rows="1" placeholder="Type your question"></textarea>
      <button class="btn contact__btn" type="submit">Send</button>
    </form>
  </div>
</section>