<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<!-- Для кнопки использовать класс btn -->
<div class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">Donut Masterclass <span class="hero__title--break">
      with the Donut King</span></h1>
      <p class="hero__author">Hosted by Eva Green</p>
      <a href="#regicter" class="btn link hero__btn">Register</a>
      <ul class="list social-icons">
        <li class="social-icon__item">
          <a class="social-icon__link" href="">
            <svg class="icon" width="19" height="19">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="">
            <svg class="icon" width="19" height="19">
              <use href="./images/icons.svg#icon-instagramm"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="">
            <svg class="icon" width="19" height="19">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
