<!-- Чтобы скрипт корректно работал на кнопку бургера поставить атрибут data-menu-button, а на само выпадающее меню data-menu -->
      <!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
      <!-- <img src="images/demo.jpg" alt="" width="320" /> -->
      <header class="header">
            <div class="container">
                  <div class="header-nav">
                        <a href="../index.html" class="logo">
                              <svg class="header-logo__icon" width="96px" height="43px">
                                    <use href="./src/images/icons.svg#icon-logo"></use>
                              </svg>
                        </a>
                        <ul class="header-nav__list">
                              <li class="header-nav__item">
                                    <a class="header-nav__link" href="">About us</a>
                              </li>
                              <li class="header-nav__item">
                                    <a class="header-nav__link" href="">Program</a>
                              </li>
                              <li class="header-nav__item">
                                    <a class="header-nav__link" href="">Reviews</a>
                              </li>
                              <li class="header-nav__item">
                                    <a class="header-nav__link" href="">Contacts</a>
                              </li>
                        </ul>
                  </div>
            </div>
      
      </header>