<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<footer class="footer">
    <div class="container">
        <!-- <ul class="social-icons__list">
            <li class="social-icons__item">
                <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icons__img">
                        <use href="images/icons.svg#icon-twitter"></use>
                    </svg>
                    twitter
                </a>
            </li>
            <li class="social-icons__item">
                <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icons__img">
                        <use href="images/icons.svg#icon-instagram"></use>
                    </svg>
                    instagram
                </a>
            </li>
            <li class="social-icons__item">
                <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icons__img">
                        <use href="images/icons.svg#icon-facebook"></use>
                    </svg>
                    facebook
                </a>
            </li>
        </ul> -->
        <ul class="footer-contacts list">
            <li class="footer-contacts__item">                
                <a class="footer-contacts__link link" href="tel:+9102228855" rel="noopener noreferrer">
                    <svg class="footer-contacts__img">
                        <use href="images/icons.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
            </li>
            <li class="footer-contacts__item">                
                <address class="footer-contacts__adress">                    
                    <a class="footer-contacts__link link" href="https://goo.gl/maps/sbR2LeMG4NbPXoGR7" target="_blank" rel="noopener noreferrer">
                        <svg class="footer-contacts__img">
                            <use href="images/icons.svg#icon-location"></use>
                        </svg>
                        New York
                    </a>
                </address>
            </li>            
        </ul>
    </div>
</footer>