<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<footer class="footer">
    <div class="container">
        <ul class="social-icons__list">
            <li class="social-icons__item">
                <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icons__img">
                        <use href=""></use>
                    </svg>
                    twitter
                </a>
            </li>
            <li class="social-icons__item">
                <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icons__img">
                        <use href=""></use>
                    </svg>
                    instagram
                </a>
            </li>
            <li class="social-icons__item">
                <a href="" class="social-icons__link" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icons__img">
                        <use href=""></use>
                    </svg>
                    facebook
                </a>
            </li>
        </ul>
        <ul class="footer-contacts">
            <li class="footer-contacts__item">
                <svg class="footer-contacts__img">
                    <use href=""></use>
                </svg>
                <a class="footer-contacts__link" href="tel:+9102228855">(910)222-8855</a>
            </li>
            <li class="footer-contacts__item">
                <svg class="footer-contacts__img">
                    <use href=""></use>
                </svg>
                <address class="footer-contacts__adress">New York</address>
            </li>            
        </ul>
    </div>
</footer>