<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->

<section class="program">
  <div class="container">
    <h2 class="section-title">Program</h2>
    <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in
      her New York donut shop!</p>
      <!--TODO вставить список и дополнить разметку -->
    <span id="less"></span>
    <p id="more">Come with your dear people and friends and you spend an
      unforgettable time and will become a real in donuts cooking!</p>

    <button class="more-btn" onclick="readMoreFunction()" id="readMoreButton">Read
      more</button>
  </div>
</section>