<!DOCTYPE html>
<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<section class="program">
    <div class="container program__container">

        <div class="program__grid">
            <h2 class="title">Program</h2>
            <ul class="list program__list">
                <li class="program__item">
                    Indulge in this immersive sweet treat
                    experience with The Chef Donut Queen
                    in her New York donut shop!
                </li>
                <li class="program__item">
                    &#x0003E; A stand up history of donuts
                </li>
                <li class="program__item">
                    &gt; Make 3 donut flavors of your choice
                </li>
                <li class="program__item">
                    &gt; Enjoy all-you-can-eat donuts
                </li>
                <li class="program__item">
                    &gt; Cocktail pairings and coffee included
                </li>
                <li class="program__item">
                    &gt; Photoshoot by professional photographer
                </li>
                <li class="program__item">
                    &gt; Secret receipt of cooking from Eva
                </li>
                <li class="program__item">
                    &gt; All products are included in the price
                </li>
                <li class="program__item">
                    Come with your dear people and friends
                    and you will spend an unforgettable time
                    and will become a real professional
                    in donuts cooking!
                </li>
            </ul>
            <button class="program__button" type="button">Read more</button>
            <button class="program__button" type="button">Less</button>
        </div>

        <div class="program__grid">
            <ul class="list program__benefits--list">
                <li class="program__benefits--item">
                    <img class="benefits--img" src="./images/pic-one.png" alt="">
                    <h3 class="title benefits--title">Type of the event</h3>
                    <span class="benefits--note">Cooking classes</span>
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-chef-hat"></use>
                    </svg>
                </li>
                <li class="program__benefits--item">
                    <img class="benefits--img" src="./images/pic-two.png" alt="">
                    <h3 class="title benefits--title">Number of guests</h3>
                    <span class="benefits--note">1 to 20</span>
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-people"></use>
                    </svg>
                </li>
                <li class="program__benefits--item">
                    <img class="benefits--img" src="./images/pic-three.png" alt="">
                    <h3 class="title benefits--title">Time of the event</h3>
                    <span class="benefits--note">18:30 (2.5 hours)</span>
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-clock"></use>
                    </svg>
                </li>
                <li class="program__benefits--item">
                    <img class="benefits--img" src="./images/pic-four.png" alt="">
                    <h3 class="title benefits--title">The host speaks</h3>
                    <span class="benefits--note">English, French</span>
                    <svg class="icon">
                        <use href="./images/sprite.svg#icon-chat"></use>
                    </svg>
                </li>
            </ul>
        </div>

    </div>
</section>