<!-- !Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
<!-- <img src="images/demo.jpg" alt="" width="320" /> -->
<section class="reviews" id="reviews">
  <!-- ! Контент -->
  <div class="container">
    <h2 class="reviews__title section-title">Reviews</h2>
    <div class="slider">
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo1.webp    1x,
                ./images/reviews/desktop/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo1.jpg    1x,
                ./images/reviews/desktop/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.webp    1x,
                ./images/reviews/tablet/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.jpg    1x,
                ./images/reviews/tablet/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="slider__img"
              src="./images/reviews/desktop/photo1.jpg"
              alt="John - guy with glasses"
            />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate4"></use>
          </svg>
          <h3 class="slider__title">John</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo2.webp    1x,
                ./images/reviews/desktop/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo2.jpg    1x,
                ./images/reviews/desktop/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo2.jpg" alt="Will" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Will</h3>
          <p class="slider__text current">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>

      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo3.webp    1x,
                ./images/reviews/desktop/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo3.jpg    1x,
                ./images/reviews/desktop/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.webp    1x,
                ./images/reviews/tablet/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.jpg    1x,
                ./images/reviews/tablet/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo3.jpg" alt="Elisabeth" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Elisabeth</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo1.webp    1x,
                ./images/reviews/desktop/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo1.jpg    1x,
                ./images/reviews/desktop/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.webp    1x,
                ./images/reviews/tablet/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.jpg    1x,
                ./images/reviews/tablet/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="slider__img"
              src="./images/reviews/desktop/photo1.jpg"
              alt="John - guy with glasses"
            />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate4"></use>
          </svg>
          <h3 class="slider__title">John</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo2.webp    1x,
                ./images/reviews/desktop/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo2.jpg    1x,
                ./images/reviews/desktop/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo2.jpg" alt="Will" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Will</h3>
          <p class="slider__text current">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo3.webp    1x,
                ./images/reviews/desktop/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo3.jpg    1x,
                ./images/reviews/desktop/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.webp    1x,
                ./images/reviews/tablet/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.jpg    1x,
                ./images/reviews/tablet/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo3.jpg" alt="Elisabeth" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Elisabeth</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo1.webp    1x,
                ./images/reviews/desktop/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo1.jpg    1x,
                ./images/reviews/desktop/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.webp    1x,
                ./images/reviews/tablet/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.jpg    1x,
                ./images/reviews/tablet/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="slider__img"
              src="./images/reviews/desktop/photo1.jpg"
              alt="John - guy with glasses"
            />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate4"></use>
          </svg>
          <h3 class="slider__title">John</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo2.webp    1x,
                ./images/reviews/desktop/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo2.jpg    1x,
                ./images/reviews/desktop/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo2.jpg" alt="Will" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Will</h3>
          <p class="slider__text current">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo3.webp    1x,
                ./images/reviews/desktop/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo3.jpg    1x,
                ./images/reviews/desktop/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.webp    1x,
                ./images/reviews/tablet/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.jpg    1x,
                ./images/reviews/tablet/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo3.jpg" alt="Elisabeth" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Elisabeth</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo1.webp    1x,
                ./images/reviews/desktop/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo1.jpg    1x,
                ./images/reviews/desktop/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.webp    1x,
                ./images/reviews/tablet/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.jpg    1x,
                ./images/reviews/tablet/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="slider__img"
              src="./images/reviews/desktop/photo1.jpg"
              alt="John - guy with glasses"
            />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate4"></use>
          </svg>
          <h3 class="slider__title">John</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo2.webp    1x,
                ./images/reviews/desktop/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo2.jpg    1x,
                ./images/reviews/desktop/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo2.jpg" alt="Will" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Will</h3>
          <p class="slider__text current">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo3.webp    1x,
                ./images/reviews/desktop/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo3.jpg    1x,
                ./images/reviews/desktop/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.webp    1x,
                ./images/reviews/tablet/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.jpg    1x,
                ./images/reviews/tablet/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo3.jpg" alt="Elisabeth" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Elisabeth</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo1.webp    1x,
                ./images/reviews/desktop/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo1.jpg    1x,
                ./images/reviews/desktop/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.webp    1x,
                ./images/reviews/tablet/photo1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo1.jpg    1x,
                ./images/reviews/tablet/photo1@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="slider__img"
              src="./images/reviews/desktop/photo1.jpg"
              alt="John - guy with glasses"
            />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate4"></use>
          </svg>
          <h3 class="slider__title">John</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo2.webp    1x,
                ./images/reviews/desktop/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo2.jpg    1x,
                ./images/reviews/desktop/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.webp    1x,
                ./images/reviews/tablet/photo2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo2.jpg    1x,
                ./images/reviews/tablet/photo2@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 320px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo2.jpg" alt="Will" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Will</h3>
          <p class="slider__text current">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
      <article class="slider__item">
          <picture>
            <source
              srcset="
                ./images/reviews/desktop/photo3.webp    1x,
                ./images/reviews/desktop/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/reviews/desktop/photo3.jpg    1x,
                ./images/reviews/desktop/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.webp    1x,
                ./images/reviews/tablet/photo3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/reviews/tablet/photo3.jpg    1x,
                ./images/reviews/tablet/photo3@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img class="slider__img" src="./images/reviews/desktop/photo3.jpg" alt="Elisabeth" />
          </picture>
          <svg class="slider__icon">
            <use href="./images/icons.svg#icon-rate5"></use>
          </svg>
          <h3 class="slider__title">Elisabeth</h3>
          <p class="slider__text">
			Last time I have visited a cooking course by Eva
			I was impressed with the way she explained everything
			to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
			Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
          </p>
      </article>
    </div>
  </div>
  <!-- ! Подключаем iQuery -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <!-- ! Подключаем слайдер Slick -->
  <!-- <script src="js/slider/slick.min.js"></script> -->
  <!-- ! Подключаем файл скриптов -->
  <!-- <script src="js/slider/script.js"></script> -->
</section>
