.read-more-state {
  display: none;
}

.read-more-target {
  @media screen and (max-width: 1279.98px) {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
  }
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Less';
}

.read-more-state:not(:checked) ~ .read-more-wrap .about-us__text:nth-last-child(2),
.read-more-state:not(:checked) ~ .read-more-wrap .program__text-desc:last-child {
  @media screen and (max-width: 1279.98px) {
    margin-bottom: 0px;
  }
}

.read-more-trigger {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 3.611;
  text-align: center;
  color: var(--button-bg-color);

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
