.social-icons {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.socials {
  display: flex;
}
.socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--transform-time) var(--transform-function);
  // width: 44px;
  // height: 44px;

  // border-radius: 50%;
  // background-color: #fff;

  &:hover,
  &:focus {
    // background-color: var(--form-input-text-color);
    fill: var(--button-bg-color);
  }
}
