.hero {
  padding-top: 33px;
  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 57px;
    padding-bottom: 56px;
  }
}

.hero__wrap {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.hero__title {
  width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 490px;
    margin-bottom: 15px;
    font-size: 64px;
    line-height: 1.016;
  }
}

.hero__subtitle {
  margin-bottom: 37px;

  font-weight: 500;

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 30px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.219;
  }
}

.hero__btn {
  margin-bottom: 45px;

  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 65px;
  }
}

.hero__social {
  @media screen and (max-width: 767.98px) {
    justify-content: center;
  }
  justify-content: flex-start;
}
