.menu-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  @media screen and (min-width: 768px) {
    top: 26px;
    right: 67px;
  }
  z-index: 100;
  background-color: transparent;
  border: none;
  padding: 0;

  fill: var(--icon-fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover,
  &:focus {
    fill: #876655;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
  &-icon {
    width: 30px;
    height: 18px;
  }
}

.mobile-menu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25px;
  // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    display: block;
    // transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .logo {
      padding-top: 0;
      padding-bottom: 0;
    }

    .logo__icon {
      width: 190px;
      height: 85px;
      margin-bottom: 40px;
    }
  }
}
.mobile-menu-nav__item {
  &:hover,
  &:focus {
    color: #876655;
    transform: scale(1.1);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  font-weight: 500;
  font-size: 24px;
  line-height: 1.208;

  transform: scale(1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & + & {
    margin-top: 45px;
  }
}

.overlay {
  position: absolute;
  z-index: 80;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;

  overflow-y: scroll;
  background-color: rgba(254, 243, 228, 0.9);
}
