.header.container {
  position: relative;
}

.header {
  padding-top: 7px;
  @media screen and (min-width: 768px) {
    padding-top: 27px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 31px;
  }
}

.header-nav {
  display: flex;

  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: left;
  }
  align-items: flex-start;
}

.logo {
  font-size: 0;
  &__icon {
    @media screen and (max-width: 1280px) {
      width: 96px;
      height: 43px;
    }
    width: 158px;
    height: 71px;
  }
}

.header-nav__list {
  display: flex;
  align-items: center;
  margin-left: 38px;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.header-nav__link {
  display: inline-block;
  transform: scale(1);
  transition: color var(--transform-time) var(--transform-function),
    transform var(--transform-time) var(--transform-function);

  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--button-bg-color);
    transform: scale(1.1);
    transition: color var(--transform-time) var(--transform-function),
      transform var(--transform-time) var(--transform-function);
  }
  @media screen and (min-width: 1280px) {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

.header-nav__item {
  & + & {
    margin-left: 20px;
  }
}
