.header.container {
  position: relative;
}
.header-nav {
  display: flex;
  align-items: flex-start;
}
//   &__list {
//   }

//   &__item + &__item {
//     margin-left: 20px;
//   }
// }
.header-nav__list {
  display: flex;
  align-items: center;
  margin-left: 38px;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.header-nav__item {
  padding-top: 50px;
  padding-bottom: 25px;

  & + & {
    margin-left: 20px;
  }
}
.header-nav__link {
}
.link {
}
.logo {
  padding-top: 30px;
  padding-bottom: 30px;

  &__icon {
    width: 158px;
    height: 71px;
  }
}
