.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;

  &__item {
    display: flex;
    align-items: center;
    fill: var(--icon-fill-color);
    color: var(--main-text-color);
    transform: scale(1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: #876655;
      color: #876655;
      transform: scale(1.1);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__img {
    margin-right: 6px;
    width: 14px;
    height: 17px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-style: normal;
  }
}
