.slider__title {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.071;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.slider__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0 auto;
}
.slick-center .slider__img {
  @media screen and (min-width: 768px) {
    width: 186px;
    height: 186px;
    margin-top: 24px;
  }
}

.slider__icon {
  width: 100%;
  height: 24px;
}

.reviews__title {
  text-align: center;
  font-size: 24px;
  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.slider__text {
  text-align: center;
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em;
}

.slick-center .slider__text {
  width: 290px;
  height: 220px;
  display: block;
  @media screen and (min-width: 768px) {
    width: 626px;
    height: 120px;
    letter-spacing: normnal;
    line-height: 1.22;
    white-space: pre-line;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    width: 626px;
    height: 132px;
  }
}

// /* Лента слайдов */
.slick-track {
  display: flex;
}
// /* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 136px;
  height: 495px;
  margin: 0 25px;
}
.slick-slide {
  opacity: 0;
  @media screen and (min-width: 768px) {
    opacity: 1;
  }
}
.slick-slide.slick-center {
  opacity: 1;
  width: 136px;
  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

// .slick-center.slider__item {
//   width: 234px;
// }
.slider {
  width: 290px;
  height: 495px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 626px;
  }
  @media screen and (min-width: 1280px) {
    height: 577px;
  }
}

.slick-list.draggable {
  padding: 0 !important;
}
