.section-title {
  font-family: var(--title-font);
  text-align: center;
  font-size: 24px;
  line-height: 2.71;
  font-weight: 400;
  color: var(--title-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.81;
  }
}

.section-container--bottom {
  background-image: url(../images/section-container-bottom/mobile/bg.jpg) no-repeat inherit 1;
}

.section-container--top {
  background-image: url(../images/section-container-top/mobile/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
}
