.section-title {
  font-family: var(--title-font);
  text-align: center;
  font-size: 24px;
  line-height: 2.71;
  font-weight: 400;
  color: var(--title-text-color);

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.81;
  }
}

.section-container--bottom {
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(/images/section-container-bottom/mobile/bg.svg);
}

.image {
  @media screen and (min-width: 768px) {
    background-image: url(/images/registration/tablet/donut.png),
      url(/images/registration/tablet/kisspng-party-confetti.png);

    background-size: 200px, 300px;
    background-repeat: no-repeat;
    background-position: top 50px left 10px, top 150px right;
  }

  @media screen and (min-width: 900px) {
    background-position: top 50px left 70px, top 200px right 70px;
  }

  @media screen and (min-width: 1200px) {
    background-position: top 50px left 100px, top 200px right 100px;
  }
}

.section-container--top {
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 320px) {
    background-image: url(/images/section-container-top/mobile/bg.jpg);
  }

  @media screen and (min-width: 779px) {
    background-image: url(/images/section-container-top/tablet/bg.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/section-container-top/desktop/bg.jpg);
  }
}

// .image-position {
//   background-position: 17pxbottom;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-size: 100px 80px;

//   @media screen and (min-width: 779px) {
//     background-image: url(/images/registration/tablet/donut.png);
//   }

//   @media screen and (min-width: 1280px) {
//     background-image: url(/images/registration/desktop/donut.png);
//   }
// }
