.contact-us {
  padding-top: 27px;
  padding-bottom: 27px;
}

.contact__title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.7;

  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.8;
  }
}

.contact__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 4;

  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 3.6;
    margin-bottom: 27px;
  }
}

.contact__input {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  color: var(--form-input-text-color);
  border: none;
  border-bottom: 1px solid var(--button-bg-color);
}

.contact__input::placeholder {
  color: var(--form-input-text-color);
}

textarea {
  resize: none;
}

.contact__input {
  margin-bottom: 27px;
}

.contact__form {
  width: 265px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 780px) {
    width: 410px;
  }

  @media screen and (min-width: 1200px) {
    width: 430px;
  }
}

.contact__btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: auto;
  margin-right: auto;
}
