.program__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.program__grid {
  &:not(:last-child) {
    @media screen and (max-width: 634.98px) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 635px) {
    width: calc(100% / 6 * 3);
  }

  @media screen and (min-width: 822px) {
    width: calc(100% / 8.5 * 4);
  }
}

.program__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 822px) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.program__button {
  margin-bottom: 30px;
  border: none;
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 3.61;
  color: var(--button-bg-color);
  background: none;

  @media screen and (min-width: 822px) {
    display: none;
  }
}

.program__benefits--item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin-left: 6px;
  margin-top: 60px;

  width: 142px;
  height: 142px;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px * 1) / 2);
    margin-left: 15px;
    margin-top: 60px;
  }

  @media screen and (min-width: 635px) {
  }

  @media screen and (min-width: 822px) {
    flex-basis: calc((100% - 30px * 2) / 2);
    width: 180px;
    height: 180px;
    margin-left: 30px;
    margin-top: 60px;
  }

  &:nth-child(odd) {
    transform: translateY(-30px);
  }

  &:nth-child(even) {
    transform: translateY(30px);
  }
}

.benefits--img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.benefits--note {
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
  color: var(--secondary-text-color);

  @media screen and (max-width: 821.98px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.icon {
  margin-bottom: 9px;
  width: 25px;
  height: 20px;
  fill: #674d40;

  @media screen and (min-width: 822px) {
    width: 31px;
    height: 25px;
  }
}
