.header.container {
  position: relative;
}
.header-nav {
  //   position: relative;
  display: flex;
  align-items: flex-start;
}
.header-nav__list {
  display: flex;
  align-items: center;
  margin-left: 38px;
  padding-top: 52px;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.header-nav__item + .header-nav__item {
  margin-left: 20px;
}
.logo {
  padding-top: 30px;
  padding-bottom: 56px;
}
.logo__icon {
  width: 158px;
  height: 71px;
}
