.header.container {
  position: relative;
}
.header-nav {
  display: flex;
  align-items: flex-start;

  &__list {
    display: flex;
    align-items: center;
    margin-left: 38px;
    padding-top: 52px;

    @media screen and (max-width: 1279.98px) {
      display: none;
    }
  }

  &__item + &__item {
    margin-left: 20px;
  }
}

.logo {
  padding-top: 30px;
  padding-bottom: 56px;

  &__icon {
    width: 158px;
    height: 71px;
  }
}
