.registration {
  text-align: center;
}

.registration__wrap {
  padding: 15px 12px 45px 12px;
  background-color: var(--primary-bg-color);

  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;

  @media screen and (min-width: 768px) {
    border-radius: 150px;
    display: flex;
    align-items: baseline;

    justify-content: space-around;
    padding: 34px 21px 34px 34px;
  }
}

.registration__title {
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.registration__title-mobile {
  margin-bottom: 11px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.registration__info-part {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}

.registration__descr {
  font-weight: 500;
  font-size: 18px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }

  &--day {
    margin-bottom: 25px;
  }
  &--price {
    margin-bottom: 20px;
  }

  &--break {
    display: block;
  }
}

.registration__line-part {
  width: 100%;
  height: 1px;
  margin-bottom: 11px;
  background-color: var(--form-input-text-color);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.registration__form-part {
  @media screen and (min-width: 768px) {
    padding: 19px 0 19px 30px;
    border-left: 1px solid rgba(171, 129, 108, 0.5);
  }
}

.registration__form-title {
  margin-bottom: 10px;
  &--break {
    display: block;
  }
}

.registration__form-fields {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--button-bg-color);
  outline: none;

  &::placeholder {
    color: var(--form-input-text-color);
  }

  &:not(last-child) {
    margin-bottom: 25px;
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 37px;
    }
    margin-bottom: 0;
  }
}

.registration__btn {
  margin-top: auto;
  margin-bottom: auto;
}
